#{extends 'main.html' /}

#{ifnot publications}
  <p>
    There is no publications yet.
  </p>
#{/ifnot}

<ul>
  #{list items:publications, as:'publication'}
    <li>
      #{a @Publication.show(publication.id)}
        ${publication}
      #{/a}      
      #{a @Publication.edit(publication.id)}edit#{/a}
      #{a @Publication.delete(publication.id)}remove#{/a}
    </li>
  #{/list}
</ul>

#{if controllers.Security.isSigned()}
	je prihlaseny
#{/if} 

<form class="form-inline">
  <input type="text" class="input-small" placeholder="Email">
  <input type="password" class="input-small" placeholder="Password">
  <button type="submit" class="btn">Go</button>
</form>