#{extends 'main.html' /}

<div class="container-fluid">
	<div class="row-fluid">
	</div>
	<div class="row-fluid">
		<div class="span3">
			&nbsp;		
		</div>
		<div class="well span6">	
			#{if flash.error}
			<div class="alert">
  				<a class="close" data-dismiss="alert">×</a>
  				&{flash.error}.
			</div>
			#{/if}
			<form class="form-horizontal" method="POST" action="@{Secure.authenticate}">
		        <fieldset>
		          <legend>Log in</legend>
		          <div class="control-group">
		            <label class="control-label" for="input01">Username:</label>
		            <div class="controls">
		              <input type="text" name="username" class="input-xlarge" id="input01" value="${flash.username}">
		            </div>
		          </div>
		          <div class="control-group">
		            <label class="control-label" for="input01">Password:</label>
		            <div class="controls">
		              <input type="password" name="password" class="input-xlarge" id="input01">
		              <p class="help-block">Minimal 4 characters.</p>
		            </div>
		          </div>
		          <div class="control-group">
		            <label class="control-label" for="input01">Remember me:</label>
		            <div class="controls">
              			<label class="checkbox">
                			<input type="checkbox" name="remember" id="optionsCheckbox" value="true"
                			    ${flash.remember ? 'checked="true"' : ''}>
              			</label>
            		</div>   
		          </div>
		          <div class="form-actions">
		            <button type="submit" class="btn btn-primary">Log in</button>
		          </div>
		        </fieldset>
		      </form>		
		</div>
	</div>
</div>