<div class="navbar navbar-fixed-top active">
  <div class="navbar-inner">
    <div class="container-fluid" style="width: auto;">
			<a class="btn btn-navbar" data-toggle="collapse"
				data-target=".nav-collapse"> <span class="icon-bar"></span> <span
				class="icon-bar"></span> <span class="icon-bar"></span>
			</a> <a class="brand" href="/"> <img src="/public/images/logo.png"
				width="18" height="18" /> BookStorePlay
			</a>
			<div class="nav-collapse">
				<ul class="nav">
					<li class="active"><a href="@{Publication.index}">Home</a></li>
					<li><a href="@{Publication.list}">Publications</a></li>
					<li><a href="@{Category.index}">Category</a></li>
					<li><a href="@{Application.help}">Help</a></li>
				</ul>
				<!-- RIGHT LINE -->
				<p class="navbar-text pull-right">
					Logged in as <b>&{session.get("username")}</b>, <a href="@{Secure.logout}">[ logout ]</a></p>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>
</div>